.header__top {
    width: 100%;
    height: 126px;
    position: relative;
}


/*begin bridrege*/

.bridge__veggie {
    width: 100%;
    height: 60px;
    background-image: url(https://www.cerealbio.fr/themes/cereal/images/fond-recette-top.jpg);
    background-position: 50% 50%;
    background-size: cover;
    /* position: relative; */
    padding: 15px 0;
}

.bridrege__fluid {
    margin-left: auto;
    margin-right: auto;
    width: 87%;
    padding: 0 15px;
}

.bridrege__fluid-inner {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    line-height: 24px;
    text-align: left;
    justify-content: center;
    position: relative;
}

.bridrege__fluid-inner::before {
    content: "";
    background-image: url(../assets/img/blockHeader/feuilles1.png);
    width: 145px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0%;
    margin: auto;
}

.bridrege__fluid-inner::after {
    content: "";
    background-image: url(../assets/img/blockHeader/tomates.png);
    width: 185px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0%;
    margin: auto;
}

.bridrege__title-veggie {
    color: #fff;
    font-size: 20px;
    font-weight: 500px;
    margin-right: 20px;
}

.bridrege__btn-red {
    width: 99px;
    height: 26px;
    background-color: #e70b1d;
    text-align: center;
    display: inline-block;
}

.bridrege__btn-red :hover {
    background-color: #e4974d;
}

.bridrege__btn-red a {
    font-size: 14px;
    color: #fff;
    font-family: "Oswald", sans-serif;
    padding: 2px 25px 6px;
    text-decoration: none;
    line-height: 24.5px;
}


/*after bridrege*/

.nav__bar {
    width: 100%;
    height: 66px;
    background-color: #faf5f2;
    position: absolute;
    padding: 15px 0;
}

.nav__fluid {
    margin-left: auto;
    margin-right: auto;
    width: 87%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    height: 37px;
}
/* 
.nav__fluid-left {} */

.nav__navbar-left {
    font-weight: 500px;
}

.nav__navbar-left .nav__item {
    list-style: none;
}

.nav__navbar-left .nav__item:hover a {
    color: #e4974d;
}

.nav__link {
    color: #402d1a;
    font-size: 16px;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
}
.nav__fluid-right{
    display: flex;
}

.nav__seach{
    line-height: 25px;
    height: 37px;
    border-bottom: 1px solid #000;
}
.nav__seach i:hover{
    color: #e4974d;
    cursor: pointer;
}
.input__seach{
    width: 163px;
    height: 40px;
    background-color: transparent;
    border: none;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    color: #495057;
}

.fa-solid {
    font-size: 15px;
}

/* .nav__list-item{

} */
.list__icon {
    display: flex;
    list-style: none;
}
.list__icon li {
    margin: 0 5px;
    font-size: 20px;
}
.fa-brands{
    color: #402d1a;
}
.nav__country ul{
    list-style: none;
}
.nav__country ul li a img{
    padding-top: 2px;
}
.list__icon li:hover a i{
    color: #e4974d;
    cursor: pointer;
}

.logo__IMG{
    text-align: center;
    margin-top: -25px;
    margin-left: 75px;
}
.header__bottom{
    width: 100%;
    height: 96px;
    background-color:#fff;
    margin-top: -10px;
}
.navbar__menu{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    line-height: 90px;
    padding-left: 252px;
}
.menu__item > a{
    font-family: 'Playball', cursive;
    text-decoration: none;
    font-size: 25px;
    color: #402d1a;
}
.navbar__menu .menu__item:hover > a{
    color: #e4974d;
}
.menu__item1{
    margin-right: 85px;
}
.menu__item2{
    margin-left: 85px;
}
.menu__button{
    margin-top: 20px;
    background-color: red;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    height: 54px;
    line-height: 45px;
    color: #fff;
}
.menu__button a{
    text-decoration: none;
    font-family: 'Playball', cursive;
    text-decoration: none;
    font-size: 25px;
    color: #402d1a;
}


.menu__button:hover{
    color: #fff;
   background-color: #e4974d;
}






.home__banner{
    height: 658px;
    width: 1517px;
    /* display: none; */
    /* position: relative; */
}
.banner__img1 {
    background-image: url(../assets/img/blockHeader/DESKTOP1.jpg);
    position: relative;
    height: 505px;
    background-repeat: no-repeat;
    padding: 60px 0;
    min-width: 1518px;
}
.banner__img2 {
    background-image: url(../assets/img/blockHeader/banner_2.png);
    position: relative;
    height: 505px;
    background-repeat: no-repeat;
    padding: 60px 0;
    min-width: 1518px;
    background-size: 100%;
}
.captions{
    margin: 0 15px;
}
.home__banner-text{
    position: absolute;
    width: 660px;
    height: 245px;
    margin: 0 420px;
    text-align: center;
}
.home__banner-text h1{
    font-family: 'Ruslan Display', cursive;
    font-size: 90px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 5px;
}

.home__banner-text p{
    font-size: 21.6px;
    color: #fff;
    font-family: "Outfit", sans-serif;
    margin-top: 0;
}
.home__banner-link{
    position: absolute;
    width: 271px;
    height: 54px;
    background-color: red;
    border-radius: 15px;
    text-align: center;
    line-height: 54px;
    bottom: 93px;
    left: 620px;
}
.home__banner-link a{
    text-decoration: none;
    color: #fff;
    font-family: 'Ruslan Display', cursive;
    font-size: 19px;
}
.home__banner-link:hover{
    background-color: #e4974d;
}
.banner-link__img2{
    bottom: 45px;
}
.slide__Navigate{
    width: 35px;
    height: 35px;
    text-align: center;
    position: absolute;
    line-height: 35px;
    bottom: 10px;
    left: 734px;
}
.slide__Navigate i{
    color: #fff;
    cursor: pointer;
}
.navigate_2{
    bottom: 0;
}
.container{
    min-width: 1518px;
    height: 501px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    position: relative;
}
.container::after{
    content: "";
    background-image: url(./img/blockHeader/wheat-icon.png);
    width: 145px;
    height: 170px;
    background-position: center;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
}
.sub_heading{
    position: relative;
    color: #89c442;
    font-size: 13px;
    display: flex;
    line-height: 0px;
    justify-content: center;
}
.sub__boder{
    border-bottom: 2px solid #402d1a;
    min-width: 60px;
    /* padding: 0 0px; */
    margin: 0 30px;
    margin-bottom: 15px;
}
.main_heading{
    color: #402d1a;
    font-family: "Outfit", sans-serif;
    font-size: 25px;
    text-align: center;
}
.list__icon-link{
    display: flex;
    justify-content: space-evenly;
}
.icon__text-link{
    width: 163px;
    text-align: center;
}

.text__link{
    font-size: 19px;
    font-weight: 700;
    margin-top: 50px;
    font-family: 'Playball', cursive;
    color: #402d1a;
}

.button__link{
    width: 271px;
    height: 54px;
    background-color: red;
    border-radius: 15px;
    text-align: center;
    line-height: 54px;
    margin-left: 600px;
    /* margin-top: 35px; */
}
.button__link:hover{
    background-color: #e4974d;
}
.button__link a{
    text-decoration: none;
    color: #fff;
    font-family: 'Ruslan Display', cursive;
    font-size: 19px;
}

.home__menu{
    background-image: url(./img/blockHeader/kraft_brown.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 600px;
    min-width: 1518px
}
.home__menu::before{
    content: '';
    z-index: 2;
    width: 189px;
    height: 208px;
    background-image: url(./img/blockHeader/Image-17.png);
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 50px;
    top: -95px;
    background-repeat: no-repeat;
}
.home__menu::after{
    content: '';
    width: 130px;
    height: 140px;
    background-image: url(./img/blockHeader/Image-23.png);
    background-size: contain;
    position: absolute;
    right: 0;
    z-index: 5;
    top: -75px;
    background-repeat: no-repeat;
    z-index: 2;
}
.home__menu .wheat__bottom{
    content: "";
    width: 145px;
    height: 140px;
    background-position: top right;
    background-image: url(./img/blockHeader/wheat-icon.png);
    background-size: cover;
    position: absolute;
    left: 0;
    z-index: 5;
    bottom: 0;

    transform: translateY(50%);
    background-repeat: no-repeat;
}

.section__outer{
    position: relative;
    overflow: hidden;
}
.section__outer::before{
    content: "";
    background-image: url(./img/blockHeader/top-pattern.png);
    padding: 0 0 1.6%;
    width: 100%;
    display: block;
    background-position: center bottom;
    background-size: 101%;
}
.section__inner{
    height: 600px;
    min-width: 1518px;

    text-align: left;
}
.section__inner-wrap{
    height: 456px;
    line-height: 24px;
    align-items: center;
    color: #402d1a;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 90px;
}
.inner__view-header{
    display: flex;
    align-items: center;
}

.line__boder{
    border-bottom: 2px solid #402d1a;
    min-width: 50px;
    /* padding: 0 0px; */
    margin: 0 20px;
    margin-bottom: 15px;
}
.view__header-title{
    /* position: relative; */
    color: #89c442;
    font-size: 18px;
    display: flex;
    line-height: 0px;

}
.view__header{
    width: 415px;
    height: 280px;
    
}
.view__title-main{
    color: #402d1a;
    font-size: 32px;
    text-align: center;

    font-family: "Outfit", sans-serif;
}
.button__link-title{
    width: 174px;
    height: 54px;
    background-color: red;
    border-radius: 15px;
    text-align: center;
    line-height: 54px;
    margin-top: 35px;
}
.view__title-button{
    margin-left: 100px;
}
.button__link-title:hover{
    background-color:#e4974d;
}
.button__link-title a{
    text-decoration: none;
    color: #fff;
    font-family: 'Ruslan Display', cursive;
    font-size: 19px;
}
.view__content{
    width: 1063px;
    height: 514px;
    /* background-color: #d7ccc1; */
    
}
.content__menu-listview{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    display:  flex;
    justify-content: space-evenly;
    margin-right: 35px;
    top: 30px;
}
.menufood__type{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 16px #00000029;
}
.menufood__card{
    width: 282px;
    height: 435px;
}
.menufood__card-textfood{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 283px;
    height: 125px;
    padding:  20px 25px;
}

.menufood__card-textfood-title{
    line-height: 0.6;
    margin-bottom: 10px;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
}
.menufood__recipe-typewrap{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.menufood__recipe-type{
    line-height: 2.6;
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Ruslan Display', cursive;
    margin-left: 15px;
}

.menufood__recipe-typewrap-img1{
    display: flex;
    justify-content: space-between;
    margin-top: 29px;
}

.menufood__recipe-type-time{
    line-height: 2.6;
    margin-bottom: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Ruslan Display', cursive;
}
.menufood__recipe-type::before{
    content: "";
    position: absolute;
    background-image: url(./img/blockHeader/Groupe-23294.png);
    left: 3%;
    top: 72px;
    bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;

}

.menufood__recipe-type-time::before{
    content: "";
    position: absolute;
    background-image: url(./img/blockHeader/Groupe-23293.png);
    right: 34%;
    top: 72px;
    bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;

}

.menufood__card-foodimg{
    max-width: 100%;
    height: auto;
    width: 100%;
}
/* before section */
.section__container{
    height: 890px;
    padding-bottom: 15px;
    padding-top: 30px;
    width: 1517px;
}
.header__warp{
    margin-right: 0;
    position: relative;
}
.section__menufood-wrap{
    width: 1132px;
    height: 634px;
    /* background-color: #faf5f2; */
    margin: 0 230px;
}
.section__menu-inner{
    width: 1132px;
    height: 558px;
    display: flex;
}
.section__button{
    width: 1132px;
    height: 55px;
    background-color: #89c442;
}
.section__inner-main-img{
    width: 554px;
    height: 558px;
    margin-right: 37px;
    position: relative;
    
}
.section__inner-main-img a img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.setion__inner-extra_img{
    width: 554px;
    height: 558px;
}
.setion__inner-extra_img1{
    width: 544px;
    height: 268px;
    position: relative;
    margin-bottom: 20px;
}
.setion__inner-extra_img1 a img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.setion__inner-extra_img2{
    width: 544px;
    height: 268px;
    position: relative;
}
.setion__inner-extra_img2 a img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.section__button-warp{
    width: 1132px;
    height: 55px;
    margin-top: 19px;
}
.section__linkarrow{
    text-align: center;
    margin-top: 27px;
}
.section__linkarrow a{
    display: inline-block;
    background-image: url(../assets/img/blockHeader/link-circle.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 70px;
    height: 45px;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    position: relative;
    overflow: hidden;
}
/* after section */
/* pháº§n footer */
.footer{
    background-image: url(../assets/img/blockHeader/kraft_brown.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0px;
    position: relative;
    height: 613px;
    
}
.footer__inner{
    position: relative;
    overflow: hidden;
    text-align: center;
}
.innner__container{
    height: 613px;
    width: 100%;
    margin: 0px 185px;
}

.innner__container-warp{
    width: 1140px;
    height: 553px;
    background-color: antiquewhite;
    position: relative;
}
.footer__top{
    height: 240px;
    border-bottom: 2px solid #fff;
    display:  flex;
    justify-content: space-between;
}
.footer__top-item{
    width: 325px;
    height: 215px;
    /* background-color: #e4974d; */
    text-align: center;
    margin-top: 30px;
    margin-left: 30px;

}

.footer__item-text p{
    font-family: 'Playball', cursive;
    margin: 0;
    font-size: 20px;
    margin-top: 5px;
    color: #402d1a;

}
.footer__item-text h2{
    font-family: 'Ruslan Display', cursive;
    margin: 0;
    font-size: 40px;
    margin-top: 5px;
    color: #402d1a;

}
.footer__list-link{
    display: flex;
    list-style: none;
}
.footer__list-link li {
    text-decoration: none;
    margin-left: 5px;
}

.footer__list-link li a{
    display: inline-block;
    background-image: url(../assets/img/blockHeader/link-circle.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 70px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.footer__list-link li a i{
    color: #fff;
}
.item__centre{
    margin-left: 75px;
}

.footer__mid{
    height: 312px;
    width: 1110;;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-around;
}
.footer__img{
    height: 168px;
    width: 278px;
    align-items: start;
}

.footer__text h2{
    font-family: 'Ruslan Display', cursive;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #402d1a;
}
.footer__text p{
    font-family: 'Playball', cursive;
    margin: 0;
    font-size: 19px;
    margin-top: 10px;
    color: #402d1a;
}
.footer__container{
    height: 174px;
    width: 833px;
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: space-around;
}
.footer__text{
    width: 190px;
    height: 152px;
    text-align: start;
}
.footer__link-text{
    margin-bottom: 10px;
}
.footer__link-text a{
    font-family: 'Playball', cursive;
    margin: 0;
    font-size: 15px;
    margin-top: 10px;
    color: #402d1a;
    text-decoration: none;
}
.footer__link-text a:hover{
    color: #e4974d;
}
.footer__input{
    width: 230px;
    height: 54px;
    background-color: #fff;
    position: absolute;
}
.footer__email{
    display:  flex;
}
.footer__icon{
    margin-left: 125px;
    text-align: center;
}
.footer__bottom{
    width: 833px;
    height: 98px;
    /* background-color: #faf5f2; */
    display: flex;
    justify-content: space-between;
}
.footer__list-icon{
    list-style: none;
    text-decoration: none;
    display: flex;
}
.footer__list-icon li a {
    display: inline-block;
    background-image: url(../assets/img/blockHeader/link-circle.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 70px;
    height: 45px;
    line-height: 50px;
    border-radius: 50%;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.footer__list-icon li:hover > a i{
    color: #e4974d;
}
.footer__list-icon li a i{
    font-size: 20px;
}
.footer__list-icon li{
    margin-top: 15px;
}
.footer_item-lik{
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    line-height: 95px;
}
.footer__list-icon li a i{
    color: #fff;
}
.footer__link-bottom a{
    font-family: 'Playball', cursive;
    margin: 0;
    font-size: 13px;
    margin-top: 10px;
    color: #402d1a;
    text-decoration: none;
}
.footer__link-bottom a:hover{
    color: #e4974d;
}